<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head">

  <meta charset="UTF-8">

</head>
<body>
<aside th:replace="base :: aside"></aside>

<div class="content-main-form">
  <div class="content-form-mov">
    <div class="header-index">
      <h2>Sistema de Gestión de Ingreso y Egresos</h2>
    </div>
    <div class="sub-title">
      <h3>Transacciones</h3>
    </div>

    <br>
    <form th:action="@{/{id}/editar(id=${movimientos.id})}" th:object="${movimientos}" method="post" class="area-form-edit" >
        <div class="text-nuevo-mov-din"><h2 class="nuevo-mov-title">Editar Movimiento de Dinero</h2></div>

        <div class="text-campos-1">
          <label for="concepto" class="label">Concepto </label>
          <input id="concepto" type="text" placeholder=" " th:field="*{concepto}" class="input" th:errorClass="is-invalid">
        </div>

        <div class="text-campos-2">
            <label for="ingreso" class="label">Ingreso</label>
            <input type="text" class="input" id="ingreso" th:field="*{ingreso}" aria-describedby="emailHelp">
        </div>

        <div class="text-campos-3">
            <label for="egreso" class="label">Egreso</label>
            <input type="text" class="input" id="egreso" th:field="*{egreso}" aria-describedby="emailHelp">
        </div>

        <div class="text-campos-4">
            <label for="empleado" class="label">Nombre empleado</label>
            <input type="text" class="input" id="empleado" th:field="*{idEmpleado}" aria-describedby="emailHelp">
        </div>

        <div class="text-campos-5">
            <label for="empresa" class="label">Nombre empresa</label>
            <input type="text" class="input" id="empresa" th:field="*{idEmpresa}" aria-describedby="emailHelp">
        </div>

        <div class="text-campos-6">
            <label for="createdAt" class="label">Fecha creación </label>
            <input id="createdAt" type="date" th:field="*{createdAt}" class="input" th:errorClass="is-invalid">
        </div>

<!--        <div class="text-campos-7">-->
<!--            <label for="updateAt" class="label">Fecha actualización</label>-->
<!--            <input id="updateAt" type="date" th:field="*{updateAt}" class="input" th:errorClass="is-invalid">-->
<!--        </div>-->

        <div class="bt-guardar-form-mov">
          <input type="submit" onclick="actualiza(this)" class="btn-guardar" value="Actualizar">
        </div>

    </form>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/funciones.js"></script>
</body>
</html>