<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="base :: head">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap" rel="stylesheet">
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <link rel="stylesheet" type="text/css" href="/css/estilos.css" />-->
    <title>Index</title>
</head>
<body>
<aside th:replace="base :: aside"></aside>
<div class="main_content-index">

<!--    <h3 th:text="'Bienvenido,' + ${user.getEmail()}"></h3>-->
    <div class="header-index">
        <h1>Almacén y Clínica Veterinaria</h1>
    </div>
    <div class="header-index">
        <h5>Aplicativo para el Sistema de Gestión y Control de la Empresa</h5>
    </div>
    <div class="contenido-boxes">
        <div class="box"><a class="links-box" href="/movimientos" type="button">Gestión de Ingresos y Egresos</a></div>
        <div class="box"><a class="links-box" href="/empleados" type="button">Gestión de Usuarios</a></div>
        <div class="box"><a class="links-box" href="/empresas" type="button">Gestión de Poveedores</a></div>
    </div>

</div>
</body>
</html>